:root{
    --off-white: rgb(244,244,244);
    --nav-grey: #c4c4c4;
    --nav-highlight: rgb(100,149,237);
    --bar-background: #c4c4c4;
    --bar-progress: #00FF00;
    --about-background:rgb(8,37,79);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-wrap: wrap;
}
html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}
header{
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 1.6rem;
    position: fixed;
    z-index: 10;
}
nav{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
    box-shadow: 0px 3px 13px 3px rgba(0,0,0,0.85);
    border: black 1px solid;
    border-radius: 0  0 10px 10px;
    background-color: white;
    max-width: 1100px;
    margin: 0 auto;
}
nav > ul{
    list-style: none;
}
nav > img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 1s ease-in-out;
}
nav > img:hover{
    transform: rotate(360deg);
    transition: transform 1.5s ease-in-out;
}

.header-li{
    display: inline-block;
    background-color: var(--nav-grey);
    border: black 1px solid;
    border-radius: 8px;
    padding: 3px;
    margin: 0 1px;
    transition: transform 0.5s, background-color 0.5s;
}
.header-li a{
    text-decoration: none;
    color: black;
}
.header-li:hover{
    background-color: var(--nav-highlight);
    transform: scale(1.2);
    transition: all 0.5s;
}
#intro{
    height: 250px;
    width: 100%;
    color: white;
    background: linear-gradient(45deg, rgba(0,21,205,1) 31%, rgba(61,235,255,1) 100%);
    padding: 0 20px;
    padding-top: 80px;
    position: relative;
    box-shadow: 0px 3px 13px 3px rgba(0,0,0,0.85);
}
#intro h1{
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
}
#intro > p{
    margin: 0 auto;
    margin-top: 30px;
    font-size: 1.6rem;
    text-align: center;
    max-width: 600px;
}
#about{
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: var(--off-white);
}
#about > h1{
    font-size: 2.4rem;
    text-align: center;
}
#about > p{
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.6rem;
    max-width: 750px;
}
.about-abilities{
    background-color: var(--about-background);
    position: relative;
    width: 100%;
}
.cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto
}
.title-transition{
    position: absolute;
    min-width: 200px;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 2;
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 0px 3px 13px 3px rgba(0,0,0,0.85);
    text-align: center;
    font-size: 2.4rem;
}
.card{
    width: 270px;
    background-color: white;
    height: 320px;
    border: black 2px solid;
    border-radius: 20px;
    box-shadow: 6px -3px 15px 5px rgba(0,0,0,0.5);
    position: relative;
    padding: 20px;
    margin-bottom: 30px;
}
.card:first-of-type{
    margin-top: 30px;
}
.card-title{
    font-size: 2.4rem;
    text-align: center;
}
.card-image{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-description{
    font-size: 1.4rem;
    margin-top: 10px;
}
.card-progress-container{
    width: 90%;
    background-color: var(--bar-background);
    position: absolute;
    left: 5%;
    bottom: 30px;
    border-radius: 8px;
    padding: 3px;
}
.card-progress{
    height: 10px;
    border-radius: inherit;
    background-color: var(--bar-progress);
}
.python-card .card-progress{
    width: 90%;
}
.python-card .card-image{
    background-image: url("../assets/Python.svg");
}
.c-plus-card .card-progress{
    width: 70%;
}
.c-plus-card .card-image{
    background-image: url("../assets/C++.svg");
}
.matlab-card .card-image{
    background-image: url("../assets/Matlab.png");
}
.matlab-card .card-progress{
    width: 50%;
}
.r-card .card-image{
    background-image: url("../assets/R.svg");
}
.r-card .card-progress{
    width: 30%;
}
.html-card .card-image{
    background-image: url("../assets/HTML.svg");
}
.html-card .card-progress{
    width: 60%;
}
.css-card .card-image{
    background-image: url("../assets/CSS.svg");
}
.css-card .card-progress{
    width: 70%;
}
.office-card .card-image{
    background-image: url("../assets/Office.svg");
}
.office-card .card-progress{
    width: 90%;
}
@media (min-width:375px) {
    nav{
        padding: 0 10px;
    }
    .header-li{
        margin: 0 5px;
    }
    nav>img{
        width: 40px;
        height: 40px;
    }
    
}
@media (min-width:768px) {
    .cards-container{
        flex-direction: row;
        padding-top: 20px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card:first-of-type{
        margin-top: 0px;
    }
    .card{
        margin: 0 10px 20px;
    }
    #intro{
        width: 50%;
        height: 420px;
    }
    #about{
        padding-top: 80px;
        width: 50%;
        height: 420px;
    }
}